@media screen and (min-width: 960px) {
    .img-section{
        .section__title{
            text-align: left;
        }
        .button{
            margin: 0;
        }
        .text{
            text-align: left;
        }
    }
}