.portfolio-section{
    position: relative;
    .button{
        margin: 10px auto 0 auto;
        width: 120px;
        text-decoration: none;
        border-color: $violet;
        color: $violet;
        &:hover{
            background-color: rgba(65, 61, 75, 0.1);
        }
    }
    &__link{
        display: block;
        margin: 20px 0 5px 0;
        text-decoration: none;
        text-align: right;
        transition: all 0.3s ease;
        &:hover{
            color: $green;
        }
        &:focus{
            outline: none;
            color: $green;
        }
        &:active{
            color: $green;
        }
    }
}
.flex-gallery{
    margin: 0 auto;
    width: calc(100% - 32px);
    overflow: hidden;
    &_hidden{
        display: none;
    }
    &__wrapper{
        display: flex;
        width: 3240px;
        animation: gallery-animation 60s linear infinite;
        &:hover{
            animation-play-state: paused;
        }
    }
    &__item-wrapper{
        width: 270px;
        height: 200px;
    }
    &__item{
        max-width: 100%;
        min-height: 100%;
    }
}
@keyframes gallery-animation {
    0% {
      transform: translate3d(0, 0, 0);
    }
  
    100% {
      transform: translate3d(-1620px, 0, 0);
    }
}
