@media screen and (min-width: 960px) {
    .video-section{
        height: 550px;
        padding: 80px;
    }
}
@media screen and (orientation: landscape) and (max-width: 960px){
    .video-section{
        &__video{
            position: absolute;
            max-width: calc(100% - 160px);
            max-height: calc(100% - 30px);
        }
    }
}